* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}


/* header img for desktop */
.header-img {
    height: 100%;
    width: 100%;
}

/* section.content-container {
    margin: 40px 0px 0px 96px;
} */
section.content-container {
    /* margin: 40px 0px 0px 96px; */
    width: 100%;
    max-width: 1440px;
    margin-top: 80px;
}

.inner-content {
    display: flex;
}

h1.content-heading {
    font-weight: 800;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    width: 540px;
}

/* Lists of features */

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.features {
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #313131;

}

/* title and its contents */
img.title {
    width: 440px;
    height: 68px;
}

.model-demo {
    width: 100%;
    max-width: 765px;
}

.title-details {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* margin-right: 28px; */

}

.inner-content {
    padding-left: 80px;
}

.header {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

}

/* join facebook button */


button.joinBtn {
    height: 50px;
    width: 365px;
    font-size: 18px;
    background: #1877F2;
    border: none;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-family: 'Oxygen', sans-serif;
    cursor: pointer;
}

button.joinBtn:hover {
    background-color: #135ebf;
}
.line{
    position: relative;
}
img.curved-line {
    position: absolute;
    right: -4px;
    top: 33px;
    width: 100%;
}


/* newsletter slogan and heading */

.newsletter {
    padding: 40px 40px 40px 40px;
}

p.signup-slogn {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    ;

}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* email form box */

.email-box {
    background: #707070;
    background-image: url(./Images/Newsletter.svg);
    margin-top: 20px;


}

.inbox-contents {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 40px;
}

p.info {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    ;

}

input#email {
    height: 50px;
    width: 325px;
    border: 1px solid #ACACAC;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
}

input::placeholder {
    color: #ACACAC;
}

.signUp-btn {
    background: #E04E00;
    height: 50px;
    width: 100px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.signUp-btn:hover {
    background-color: #fa5700;
}

/* testimonials and feedback sections */
.testimonials {
    display: flex;
    padding-top: 65px;
    gap: 70px;

}

.signUp-form {
    display: flex;
    gap: 15px;
}

/* 
img.mobile {
    position: relative;
    right: 40px;

} */

.knife {
    width: 290px;

}

.review-one {
    display: flex;
    gap: 20px;
    width: 100%;

}

.review-two {
    display: flex;
    gap: 20px;
    width: 100%;

}

p.review-content {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    color: #101820;
    padding-top: 40px;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-img {
    height: 58px;
    width: 58px;
}

.content-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* padding: 20px 20px;  */
}

.pre-footer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* padding: 20px 20px; */
}

.middle-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;

}

footer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

h4 {
    font-size: 18px;
    color: #101820;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

img.human {
    width: 100%;
}

/* foooter section */
.pre-footer {
    background-image: url(./Images/Man-background.svg);
    background-repeat: no-repeat;
    /* padding: 28px; */


}

.feedbacks {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

p.user-about {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 730px;
}

p.user-name {
    color: #FAC9AF;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    padding-top: 20px;

}

.footer {
    width: 100%;
}


/* chaning header and footer img according to the breakpoints */

.footer-tablet {
    display: none;
}

.header-tablet {
    display: none;
}

.header-mobile {
    display: none;
}

.laptop-mobile {
    display: none;
}

.footer-mobile {
    display: none;
}

.header-laptop {
    display: none;
}

.footer-laptop {
    display: none;
}


/* Media query for tablet view */

@media screen and (max-width: 1023px) {
    .footer-laptop {
        display: none;
    }

    .header-laptop {
        display: none;
    }

    .header-tablet {
        display: block;
        width: 100%;
    }

    .header-img {
        width: 768px;
    }

    img.title {
        height: 60px;
    }

    .email-box {
        width: 726px;
        background: #707070;
        background-image: url(./Images/Newsletter.svg);
    }

    p.info {
        font-size: 22px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;

    }
    img.curved-line {
        position: absolute;
        right: -4px;
        top: 22px;
        width: 100%;
    }
    .inbox-contents {
        display: flex;
        align-items: center;
        gap: 9px;
        flex-direction: column;
    }

    p.user-about {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        line-height: 24px;
        width: 100%
    }

    .middle-container {
        margin: 0 auto;
    }

    button.joinBtn {
        height: 50px;
        font-size: 16px;
        background: #1877F2;
        border: none;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: 'Oxygen', sans-serif;

    }

    .features {
        font-family: 'Oxygen', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #313131;
    }


    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 26px;
        padding-top: 40px;
        margin: 0px 0px 60px 0px;
    }

    .model-demo {
        margin: 50px 35px 0px 35px;
        max-width: 1024px;
    }


    p.signup-slogn {
        font-size: 26px;
        text-align: center;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        max-width: 580px;
        line-height: 40px;

    }

    .newsletter {
        padding: 10px 35px 0px 35px;
    }

    input#email,
    .signUp-btn {
        font-size: 16px;

    }

    input#email {
        height: 50px;
        /* width: 325px; */
        border: 1px solid #ACACAC;
        padding: 16px;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
    }

    .review-one {
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 460px;
        line-height: 24px;

    }

    h4 {
        font-size: 13px;
        color: #101820;
        font-family: 'Oxygen', sans-serif;
        font-weight: bold;
        line-height: 17px;
    }

    .review-two {
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 460px;
        line-height: 24px;

    }

    .inbox-contents {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    img.man-img {
        height: 200px;
        width: 200px;
    }

    h1.content-heading {
        font-weight: 800;
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
        line-height: 32px;
        width: 100%;

    }

    /* ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    } */

    .inner-content {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* .mobile {
        width: 698px;
        margin: 0px;
    } */

    .knife {
        width: 100%;
        max-width: 215px;
    }

    section.content-container {
        margin: 40px 0px 30px 0px;
    }

    .email-box {
        width: 100%;
        background: #707070;
        background-image: url(./Images/Newsletter.svg);
        height: 255px;
    }

    .feedbacks {
        background-image: url(./Images/Man-background.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 250px;
        padding: 30px 35px 30px 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    p.user-name {
        color: #FAC9AF;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
        padding-top: 20px;
        line-height: 28px;
        letter-spacing: 1px;
    }

    .title-details {
        display: flex;
        flex-direction: column;
        gap: 26px;
        align-items: center;
        margin-right: 0px;
    }

    .user-img {
        /* height: 43px; */
        width: 43px;
    }

    p.review-content {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
        color: #101820;
        padding-top: 40px;
    }


    .footer {
        display: none;
    }

    .footer-tablet {
        display: block;
        width: 100%;
    }

    .header-img {
        display: none;
    }

    .header-tablet {
        display: block;
    }

    .header-mobile {
        display: none;
    }

    .footer-mobile {
        display: none;
    }

}

/* Media query for mobile screen for 320px */
@media screen and (max-width: 767px) {
    .footer-laptop {
        display: none;
    }

    .header-laptop {
        display: none;
    }

    .header-img {
        display: none;

    }

    .laptop-mobile {
        display: none;
    }

    .header-mobile {
        display: block;
        max-width: 320px;
    }

    .header-tablet {
        display: none;
    }

    .footer-tablet {
        display: none;
    }

    .footer-mobile {
        display: block;
        width: 320px;

    }

    .footer {
        display: none;
    }

    .header {

        width: 100%;
        margin: 0 auto;
    }

    section.content-container {
        /* margin: 40px 0px 0px 96px; */
        margin: 0px;
    }

    h1.content-heading {
        font-weight: 800;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        width: 300px;
    }

    img.title {
        width: 278px;
    }

    img.checkbox {
        height: 20px;
        width: 20px;
    }

    .slogan {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px 20px 20px;
    }

    .features {
        font-family: 'Oxygen', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #313131;
    }

    .title-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* margin-right: 28px; */
        width: 100%;

    }

    .inner-content {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        padding: 30px 0px 0px 0px;
    }

    button.joinBtn {
        height: 50px;
        width: 282px;
        font-size: 16px;
        background: #1877F2;
        border: none;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-family: 'Oxygen', sans-serif;
    }

    .middle-container {
        /* width: 768px; */
        margin: 0 auto;
    }

    img.FB {
        height: 29px;
        width: 29px;
    }

    .inner-content {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .img-content {
        max-width: 330px;
    }

    p.signup-slogn {
        font-size: 15px;
        text-align: center;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
        line-height: 28px;
        
    }
    .newsletter {
        padding: 0px 20px 0px 20px;
    }


    img.curved-line {
        width: 100%;
        top: 20px;
    }

    .model-demo {
        margin-top: 50px;
    }


    .email-box {
        width: 280px;
        height: 285px;
        background: #707070;
        background-image: url(./Images/Newsletter.svg);
    }

    p.info {
        font-size: 16px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;

    }

    .inbox-contents {
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 40px;
        flex-direction: column;
    }

    input#email {
        height: 50px;
        width: 251px;
        border: 1px solid #ACACAC;
        padding: 16px;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
    }

    .signUp-form {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    input[type="submit"] {
        background: #E04E00;
        height: 50px;
        width: 100%;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        font-family: 'Oxygen', sans-serif;
    }

    .user-img {
        /* height: 58px; */
        width: 43px;
    }

    .testimonials {
        display: flex;
        padding: 40px;
        gap: 30px;
        flex-direction: column;
    }

    .knife {
        width: 200px;
        height: 240px;
    }

    .review-one {
        display: flex;
        gap: 20px;

        flex-direction: column;
        width: 100%;
        align-items: center;


    }

    .review-two {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 100%;
        align-items: center;


    }

    p.review-content {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
        color: #101820;
        padding: 0px;
        width: 100%;
        max-width: 194px;

    }

    h4 {
        font-size: 13px;
        color: #101820;
        font-family: 'Oxygen', sans-serif;
        font-weight: bold;
    }

    p.user-about {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
    }

    .feedbacks {
        background-image: url(./Images/Man-background.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 380px;
        /* padding: 30px 30px 30px 90px; */
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }

    img.man-img {
        width: 100%;
    }

    p.user-name {
        color: #FAC9AF;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
        /* padding-top: 20px; */
    }


}

/* media query for mobile screen 375px */

@media screen and (max-width: 767px) {
    .footer-laptop {
        display: none;
    }

    .header-laptop {
        display: none;
    }

    .header-img {
        display: none;

    }

    .header-mobile {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .footer-tablet {
        display: none;
    }

    .footer-mobile {
        display: block;
        width: 100%;
    }

    .laptop-mobile {
        display: none;
    }

    .footer {
        display: none;
    }

    .header {

        width: 100%;
        margin: 0 auto;
    }

    img.title {
        width: 278px;
    }

    section.content-container {
        /* margin: 40px 0px 0px 96px; */
        margin: 0px;
    }

    h1.content-heading {
        font-weight: 800;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        width: 300px;
    }

    img.checkbox {
        height: 20px;
        width: 20px;
    }

    .slogan {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px 20px 20px;
    }

    .features {
        font-family: 'Oxygen', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #313131;
    }

    .title-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        /* margin-right: 28px; */
    }

    .inner-content {
        width: 100%;
        margin: 0 auto;
        padding: 30px 0px 0px 0px;
    }

    button.joinBtn {
        height: 50px;
        width: 274px;
        font-size: 13px;
        background: #1877F2;
        border: none;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-family: 'Oxygen', sans-serif;
    }

    img.FB {
        height: 29px;
        width: 29px;
    }

    .inner-content {
        /* max-width: 320px; */
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 30px 0px 0px 0px;
    }

    ul {
        max-width: 317px;
        margin-bottom: 21px;
    }

    img.mobile {
        width: 100%;
        height: 100%;
    }

    p.signup-slogn {
        font-size: 15px;
        text-align: center;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
        line-height: 28px;
    }

    img.curved-line {
        width: 100%;
        top: 15px;
    }

    .model-demo {
        margin-top: 50px;
    }

    .email-box {
        width: 100%;
        height: 325px;
        background: #707070;
        background-image: url(./Images/Newsletter.svg);
    }

    p.info {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;

    }

    .inbox-contents {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 40px;
        flex-direction: column;
    }

    input#email {
        height: 50px;
        width: 251px;
        border: 1px solid #ACACAC;
        padding: 16px;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
    }

    .signUp-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input[type="submit"] {
        background: #E04E00;
        height: 50px;
        width: 100%;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        font-family: 'Oxygen', sans-serif;
    }

    .testimonials {
        display: flex;
        padding: 40px;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .knife {
        width: 200px;
        height: 240px;
    }

    .review-one {
        display: flex;
        gap: 20px;

        flex-direction: column;
        width: 100%;
        align-items: center;

    }

    .newsletter {
        padding: 0px 20px 0px 20px;
    }


    .review-two {
        display: flex;
        gap: 20px;

        flex-direction: column;
        width: 100%;
        align-items: center;

    }

    .user-img {
        /* height: 58px; */
        width: 43px;
    }

    p.review-content {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
        color: #101820;
        padding: 0px;
        width: 100%;
        max-width: 194px;


    }

    h4 {
        font-size: 13px;
        color: #101820;
        font-family: 'Oxygen', sans-serif;
        font-weight: bold;
    }

    p.user-about {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        width: 100%;


    }


    img.man-img {
        width: 100%;
    }


    .feedbacks {
        background-image: url(./Images/Man-background.svg);
        background-repeat: no-repeat;
        width: 100%;
        /* padding: 30px 30px 30px 90px; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        flex-direction: column;
    }

    p.user-name {
        color: #FAC9AF;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
        /* padding-top: 20px; */
    }

    .img-content {
        max-width: 330px;
    }


}


/* Media query for small laptop */
@media (min-width: 1024px) and (max-width: 1365px) {

    /* *{
        overflow-x: hidden;
    } */

    .footer-laptop {
        display: block;
        width: 100%;
    }

    .footer-tablet {
        display: none;
    }

    .footer-mobile {
        display: none;
    }

    .footer {
        display: none;
    }

    .footer-tablet {
        display: none;
    }

    .header-img {
        display: none;

    }

    .header-laptop {
        display: block;
        width: 100%;
        max-width: 1440px;
    }

    img.title {
        width: 400px;
        height: 60px;
    }

    img.mobile {
        display: none;
    }

    .laptop-mobile {
        display: block;
        width: 100%;
        height: 100%;
    }

    p.signup-slogn {
        font-size: 32px;
        text-align: center;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;

    }

    p.info {
        font-size: 24px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;

    }

    section.content-container {
        margin: 40px 0px 0px 0px;
    }

    h1.content-heading {
        font-weight: 800;
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        width: 540px;
    }

    .title-details {
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin-right: 28px;
    }

    .inner-content {
        /* max-width: 1440px; */
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 25px;
    }

    .features {
        font-family: 'Oxygen', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #313131;
    }

    p.signup-slogn {
        font-size: 30px;
        text-align: center;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
        /* line-height: 84px; */
    }


    .email-box {
        height: 134px;
        background: #707070;
        background-image: url(./Images/Newsletter.svg);
        width: 100%;
    }

    .newsletter {
        padding: 40px 40px 40px 40px;
    }

    .email-box {

        background: #707070;
        background-image: url(./Images/Newsletter.svg);
    }

    .inbox-contents {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 32px;
    }

    .knife {
        width: 215px;
        height: 256px;
    }

    .testimonials {
        display: flex;
        padding: 0px;
        gap: 70px;
        margin: 60px 0px 0px 0px;
        justify-content: center;


    }

    p.review-content {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
        color: #101820;
        padding-top: 28px;
    }

    .user-feedback {
        max-width: 300px;
    }

    .user-img {
        height: 40px;
        width: 40px;
    }

    img.curved-line {

        width: 100%;
        top: 27px;
    }
    .img-content {
        max-width: 634px;
    }

    h4 {
        font-size: 13px;
        color: #101820;
        font-family: 'Oxygen', sans-serif;
        font-weight: bold;
    }

    .review-one {
        display: flex;
        gap: 20px;
        width: 100%;

    }

    .review-two {
        display: flex;
        gap: 20px;
        width: 100%;

    }

    .middle-container {
        /* max-width: 1440px; */
        width: 100%;
        margin: 0 auto;
        margin-top: 60px;
    }

    img.man-img {

        width: 100%;
    }
    .feedbacks {
        background-image: url(./Images/Man-background.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 360px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    p.user-about {
        color: #FFFFFF;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        line-height: 30px;
    }
    p.user-name{
        line-height: 28px;
        letter-spacing: 1px;
    }


}